modules = ["web", "bash", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Messaging Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Messenger App"

[[workflows.workflow]]
name = "Messaging Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node messaging-server.js"
waitForPort = 3001

[[workflows.workflow]]
name = "Messenger App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"g3tzkp-messenger UI\" && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
COMPANIES_HOUSE_KEY = "Oks5yI0hG4gYCW8o9KHSBvpghuCMLOu3RFP15wD0W9o"
MAPBOX_API_KEY = "sk.eyJ1IjoiZ2VuZXNpc2dhcm1lbnRzbHRkIiwiYSI6ImNtanUyM2I2czF4aTYzZHNkM3dtMDNybGwifQ.m65Dh1bLA6aLikEhgPYSPg"
MAPBOX_PUBLIC_TOKEN = "pk.eyJ1IjoiZ2VuZXNpc2dhcm1lbnRzbHRkIiwiYSI6ImNtanUyMW9uODFkMWEzZnFzNjQ2eWc3emoifQ.XBEUurTZSHfBVQt7wqAgyQ"
